<mat-sidenav-container class="sidenav-container" style="height: 100vh; ">
  <mat-sidenav mode="side" opened style="width: auto; min-width: 300px;  color: #007bff;">
    <mat-nav-list>
      <ng-container *ngFor="let navItem of navItems">
        <mat-list-item *ngIf="!navItem.children">
          <mat-icon matListIcon style="color: #007bff;">{{ navItem.iconName }}</mat-icon>
          <a matLine style="color: #007bff;"> {{ navItem.displayName }}</a>
        </mat-list-item>
        <mat-expansion-panel *ngIf="navItem.children">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon style="color: #007bff;">{{ navItem.iconName }}</mat-icon>
              <span style="color: #007bff;">{{ navItem.displayName }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-list *ngFor="let child of navItem.children">
            <mat-list-item>
              <mat-icon matListIcon style="color: #007bff;">{{ child.iconName }}</mat-icon>
              <a matLine style="color: #007bff;">{{ child.displayName }}</a>
            </mat-list-item>
          </mat-action-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>