<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <ng-container *ngFor="let navItem of navItems">
        <mat-list-item *ngIf="!navItem.children">
          <mat-icon matListIcon>{{ navItem.iconName }}</mat-icon>
          <a matLine>{{ navItem.displayName }}</a>
        </mat-list-item>
        <mat-expansion-panel *ngIf="navItem.children">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{ navItem.iconName }}</mat-icon>
              {{ navItem.displayName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-list *ngFor="let child of navItem.children">
            <mat-list-item>
              <mat-icon matListIcon>{{ child.iconName }}</mat-icon>
              <a matLine>{{ child.displayName }}</a>
            </mat-list-item>
          </mat-action-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>